[submodule "App/ProjectShakeUp/DataLayer/AFNetworking"]
	path = App/ProjectShakeUp/DataLayer/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "App/Frameworks/Facebook"]
	path = App/Frameworks/Facebook
	url = git@github.com:facebook/facebook-ios-sdk.git
